absl-py==1.3.0
astunparse==1.6.3
blinker==1.4
blis==0.7.9
cached-property==1.5.2
cachetools==5.2.0
catalogue==2.0.8
certifi==2022.9.24
charset-normalizer==2.1.1
chex==0.1.5
click==8.1.3
clu==0.0.7
colorama==0.4.4
colorlog==4.7.2
commonmark==0.9.1
confection==0.0.3
contextlib2==21.6.0
contourpy==1.0.5
cryptography==3.4.8
cycler==0.11.0
cymem==2.0.7
dbus-python==1.2.18
dill==0.3.5.1
distro==1.7.0
distro-info===1.1build1
dm-tree==0.1.7
etils==0.8.0
flatbuffers==22.9.24
flax==0.6.1
fonttools==4.37.4
gast==0.4.0
google-auth==2.13.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.56.4
grpcio==1.50.0
h5py==3.7.0
httplib2==0.20.2
idna==3.4
importlib-metadata==4.6.4
importlib-resources==5.10.0
jax==0.3.23
jaxlib==0.3.22
jeepney==0.7.1
joblib==1.2.0
keras==2.10.0
Keras-Preprocessing==1.1.2
keyring==23.5.0
kiwisolver==1.4.4
langcodes==3.3.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
libclang==14.0.6
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.6.1
ml-collections==0.1.1
more-itertools==8.10.0
msgpack==1.0.4
murmurhash==1.0.9
numpy==1.23.4
oauthlib==3.2.2
opt-einsum==3.3.0
optax==0.1.3
packaging==21.3
pandas==1.4.4
pathy==0.6.2
Pillow==9.3.0
preshed==3.0.8
promise==2.3
protobuf==3.19.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.9.2
Pygments==2.13.0
PyGObject==3.42.1
PyJWT==2.3.0
pyparsing==3.0.9
python-apt==2.3.0+ubuntu2.1
python-dateutil==2.8.2
pytz==2022.6
PyYAML==6.0
recbole==1.0.1
requests==2.28.1
requests-oauthlib==1.3.1
rich==12.6.0
rsa==4.9
scikit-learn==1.1.3
scipy==1.6.0
screen-resolution-extra==0.0.0
SecretStorage==3.3.1
six==1.16.0
smart-open==5.2.1
spacy==3.4.1
spacy-legacy==3.0.10
spacy-loggers==1.0.3
srsly==2.4.5
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-datasets==4.7.0
tensorflow-estimator==2.10.0
tensorflow-gpu==2.10.0
tensorflow-io-gcs-filesystem==0.27.0
tensorflow-metadata==1.10.0
termcolor==2.0.1
thinc==8.1.5
threadpoolctl==3.1.0
toml==0.10.2
toolz==0.12.0
torch==1.12.1+cu116
torchaudio==0.12.1+cu116
torchvision==0.13.1+cu116
tqdm==4.64.1
typer==0.4.2
typing_extensions==4.4.0
unattended-upgrades==0.1
urllib3==1.26.12
wadllib==1.3.6
wasabi==0.10.1
Werkzeug==2.2.2
wrapt==1.14.1
xkit==0.0.0
zipp==3.9.0
